 ## SET (집합)

- 중복 X
- 순서 X

In [1]:
my_set = {1,2,3,4,5,6,6,6,6}

print(my_set)

{1, 2, 3, 4, 5, 6}

In [2]:
python = {"유재석", "박명수", "정준하"}

java = set(["노홍철", "유재석"])

In [3]:
# 교집합
print(java & python)
print(java.intersection(python))

{'유재석'}
{'유재석'}

In [5]:
#합집합
print(java | python)
print(java.union(python))

{'유재석', '정준하', '박명수', '노홍철'}
{'유재석', '정준하', '박명수', '노홍철'}

In [7]:
#차집합 (java는 할줄 알지만 python은 불가)
print(java - python)
print(java.difference(python))

{'노홍철'}
{'노홍철'}

In [8]:
#python 할줄 아는 사람이 늘어났다면
python.add("정형돈")
print(python)

{'정준하', '박명수', '정형돈', '유재석'}

In [9]:
# set에서 값 제외
java.remove("유재석")
print(java)

{'노홍철'}

## 자료구조 변경

In [1]:
#기존 집합이였던 자료구조를 list나 tuple로 변경

menu = {'두유', "우유", "커피"}
print(menu, type(menu))

{'커피', '두유', '우유'} <class 'set'>

In [2]:
#list 변경
menu = list(menu)
print(menu, type(menu))

['커피', '두유', '우유'] <class 'list'>

In [4]:
#tuple 변경
menu = tuple(menu)
print(menu, type(menu))

('커피', '두유', '우유') <class 'tuple'>

### quiz

In [6]:
# '''
#     학교에서 코딩 대회 주최
#     참석률 높이기 위해 댓글 이벤트 진행
#     댓글 작성자들 중 추첨을 통해 1명은 치킨, 3명은 커피 쿠폰

#     조건1 편의상 댓글이 20명이 작성하였고, 아이디는 1~20이라고 가정
#     조건2 댓글 내용과 상관없이 무작위로 추첨, 중복은 불가
#     조건3 random 모듈의 shuffle 과 sample 활용


# '''

from random import *

lst = [1,2,3,4,5]

print(lst)

shuffle(lst)
print(lst)
print(sample(lst,1))

[1, 2, 3, 4, 5]
[5, 1, 2, 3, 4]
[3]

In [7]:
user_id = list(range(1,21)) #1 부터 20 까지 숫자 생성

In [10]:
# print(type(user_id), user_id)

shuffle(user_id)
print(user_id)

winners = sample(user_id, 4)

print(" -- 당첨자 발표 -- ")
print(f"치킨: {winners[0]}")
print(f"커피: {winners[1:]}")

[10, 4, 3, 13, 17, 9, 18, 14, 11, 16, 20, 5, 1, 8, 2, 6, 12, 7, 19, 15]
 -- 당첨자 발표 --
치킨: 18
커피: [1, 9, 16]